body {
  background-color: #fafafa;
}
.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #e9e9e9;
  background-color: #ffffff;
  height: 520px;
  width: 480px;
  transform: translate(-50%, -50%);
  .loginTitle {
    font-family: 'Lobster', cursive;
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 30px;
  }
  .loginBox {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    #id,
    #password {
      width: 300px;
      background-color: #fafafa;
      border-radius: 5px;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #efefef;
    }
  }

  .loginButton {
    width: 300px;
    background-color: #c4e1fb;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
  }

  .loginButtonActive {
    width: 300px;
    background-color: #0095f6;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
  }

  #error {
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
    color: #d1565b;
    font-size: 15px;
  }
  .question {
    margin-top: 180px;
    text-decoration: none;
    color: #577296;
  }
}
