.comment {
  background-color: white;

  p {
    margin-left: 10px;
    background-color: white;
    text-align: left;
    font-size: 12px;

    span {
      font-weight: 600;
      font-size: 14px;
    }
  }

  .time {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: left;
  }
}

.addComment {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 1px;
  border-top: 1px solid #dbdbdb;
  background-color: white;

  input {
    flex-grow: 1;
    border: none;
    padding-left: 20px;
    background-color: white;

    &:focus {
      outline: none;
    }
  }

  button {
    padding: 10px;
    border: none;
    white-space: nowrap;
    color: #1596f6;
    opacity: 30%;
    background-color: white;

    &:hover {
      cursor: pointer;
    }
  }

  .btnActive {
    opacity: 100%;
  }

  .btnInactive {
    opacity: 30%;
  }
}
